<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set Tour | Oferta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="preloader"></div>

    <section class="sub-header2">
      <nav>
        <a href="{{ url_for('index') }}"
          ><img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Logo"
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="{{ url_for('index') }}">ACASA</a></li>
            <li><a href="{{ url_for('main_offer') }}">OFERTA</a></li>
            <li><a href="{{ url_for('about') }}">DESPRE</a></li>
            <li>
              <a href="{{ url_for('contact') }}">CONTACT</a>
            </li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1>Experiente memorabile pentru calatorul din tine!</h1>
    </section>

    <div class="row">
      <div class="offer-col">
        <a href="{{ url_for('show_offers') }}">
          <img
            src="{{ url_for('static', filename='images/image-1.png') }}"
            alt="Oferta 1"
          />
          <div class="layer">
            <span>
              <a href="{{ url_for('show_offers') }}"><h3>Oferta 1</h3></a>
            </span>
          </div>
        </a>
      </div>
      <div class="offer-col">
        <a href="{{ url_for('show_offers') }}">
          <img
            src="{{ url_for('static', filename='images/image-2.png') }}"
            alt="Oferta 2"
          />
          <div class="layer">
            <span>
              <a href="{{ url_for('show_offers') }}"><h3>Oferta 2</h3></a>
            </span>
          </div>
        </a>
      </div>
      <div class="offer-col">
        <a href="{{ url_for('show_offers') }}">
          <img
            src="{{ url_for('static', filename='images/image-3.png') }}"
            alt="Oferta 3"
          />
          <div class="layer">
            <span>
              <a href="{{ url_for('show_offers') }}"><h3>Oferta 3</h3></a>
            </span>
          </div>
        </a>
      </div>
      <div class="offer-col">
        <a href="{{ url_for('show_offers') }}">
          <img
            src="{{ url_for('static', filename='images/image-1.png') }}"
            alt="Oferta 4"
          />
          <div class="layer">
            <span>
              <a href="{{ url_for('show_offers') }}"><h3>Oferta 4</h3></a>
            </span>
          </div>
        </a>
      </div>
    </div>

    <script>
      var loader = document.getElementById("preloader");

      window.addEventListener("load", function () {
        loader.style.display = "none";
      });
    </script>
  </body>
</html>
